<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script language="JavaScript" src="/itildemo/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/itildemo/static/css/mystyle.css">
    <script language="JavaScript" src="/itildemo/static/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<br>

<div class="_012_RequestList">
    <div class="_011_RequestList">
        知识请求分类&nbsp;&nbsp;
        <button class="btn btn-sm btn-default" title="添加分类" data-toggle="modal" data-target="#myModal">+</button>
    </div>
    <div class="_015_RequestList">
        <div class="_014_RequestList">
            <table width="100%">
                <{foreach $parent_sort as $p_sort}>
                <tr class="_031_config_sort">
                    <td class="_029_config_sort"><{$p_sort.sort_name}>：</td>
                    <td class="_030_config_sort">
                        <{foreach $child_sort as $c_sort}>
                        <{if $c_sort.sort_parent_id == $p_sort.sort_id}>
                        <a tabindex="0" role="button" data-trigger="focus" class="btn btn-sm btn-default"
                           data-toggle="popover" title="操作"
                           data-content="<a href='#' onclick='deleteSort(<{$c_sort.sort_id}>)'>删除</a>"
                           data-html="true">
                            <{$c_sort.sort_name}>
                        </a>
                        &nbsp;&nbsp;
                        <{/if}>
                        <{/foreach}>
                        <button class="btn btn-sm btn-default" onclick="ChangeValue('<{$p_sort.sort_id}>')"
                                title="添加子类别">+
                        </button>
                    </td>
                    <td class="_36_config_sort"><a href="#" onclick="deleteSort('<{$p_sort.sort_id}>')"
                                                   class="_37_config_sort">删除</a></td>
                </tr>
                <{/foreach}>
            </table>
        </div>
    </div>
    <br>
</div>

<!--添加分类的模态框-->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <form class="form-horizontal" method="post" action="/itildemo/home/service/reqsort_ser.php"
              role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">添加分类</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-3 control-label">分类名称：</label>

                        <div class="col-sm-6">
                            <input type="text" name="sort_name" class="form-control" placeholder="分类名称">
                        </div>
                    </div>
                </div>
                <!---隐藏数据-->
                <input type="hidden" name="flag" value="1">
                <input type="hidden" id="sort_parent_id" name="sort_parent_id" value="">

                <div class="modal-footer">
                    <button class="btn btn-primary btn-sm" type="submit">添加</button>
                    <button class="btn btn-default btn-sm " type="reset" data-dismiss="modal">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    function ChangeValue(id) {
        document.getElementById('sort_parent_id').value = id;
        //alert(document.getElementById('sort_parent_id').value);
        $('#myModal').modal();
    }
    function deleteSort(id) {
        if (confirm("确定要删除该分类？")) {
            location.href = "/itildemo/home/service/reqsort_ser.php?sort_id=" + id + "";
        }
    }
</script>
</body>
</html>