<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<{extends file='../frame/index.html'}>
<{block name=head}>
<li class="nav-item dl-selected">
    <div class="nav-item-inner nav-home">服务台</div>
</li>
<li class="nav-item dl-selected">
    <div class="nav-item-inner nav-order">知识库</div>
</li>
<li class="nav-item dl-selected">
    <div class="nav-item-inner nav-order">报表</div>
</li>
<li class="nav-item dl-selected">
    <div class="nav-item-inner nav-order">配置</div>
</li>
<li class="nav-item dl-selected">
    <div class="nav-item-inner nav-order">公告</div>
</li>
<{/block}>

<{block name=navi}>
<script>
    BUI.use('common/main', function () {
        var config =
                [
                    {
                        id: '1',
                        homePage: '1',
                        menu: [{
                            text: '服务台',
                            items: [
                                {id: '1', text: '服务首页', href: '/itildemo/home/controller/admin/request_home.php'},
                                {id: '2', text: '服务请求查询', href: '/itildemo/home/controller/admin/request_inquiry.php'},
                                {id: '3', text: '服务请求创建', href: '/itildemo/home/controller/admin/request_create.php'}]

                        }]
                    },
                    {
                        id: '2',
                        homePage: '1',
                        menu: [{
                            text: '知识库',
                            items: [
                                {id: '1', text: '知识检索', href: '/itildemo/home/controller/share/know_search.php'},
                                {id: '2', text: '知识库管理', href: '/itildemo/home/controller/admin/know_list.php'},
                                {id: '3', text: '知识采集', href: '/itildemo/home/controller/share/know_create.php'}]
                        }]
                    },
                    {
                        id: '3',
                        homePage: '1',
                        menu: [{
                            text: '报表',
                            items: [
                                {id: '1', text: '工程师工作量统计', href: '/itildemo/home/controller/admin/graph_engineer.php'},
                                {id: '2', text: '用户请求统计', href: ''},
                                {id: '3', text: '满意度反馈统计', href: ''},
                                {id: '4', text: '请求报表', href: ''},
                            ]
                        }]
                    },
                    {
                        id: '4',
                        homePage: '1',
                        menu: [{
                            text: '配置',
                            items: [
                                {id: '1', text: '机构配置', href: '/itildemo/home/controller/admin/config_depart.php'},
                                {id: '2', text: '人员配置', href: '/itildemo/home/controller/admin/config_staff.php'},
                                {id: '3', text: '附件上传配置', href: '/itildemo/home/controller/admin/config_attach.php'},
                                {id: '4', text: '知识请求分类配置', href: '/itildemo/home/controller/admin/config_sort.php'},
                                {id: '5', text: '邮件提示内容配置', href: '/itildemo/home/controller/admin/config_sort.php'},
                            ]
                        }]
                    },
                    {
                        id: '5',
                        homePage: '1',
                        menu: [{
                            text: '公告',
                            items: [
                                {id: '1', text: '公告列表', href: '/itildemo/home/controller/share/news_list.php'},
                                {id: '2', text: '新建公告', href: '/itildemo/home/controller/admin/news_create.php'},
                            ]
                        }]
                    },
                ];
        new PageUtil.MainPage({
            modulesConfig: config
        });
    });
</script>
<{/block}>

</body>
</html>