<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script language="JavaScript" src="/itildemo/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/itildemo/static/css/mystyle.css">
    <script language="JavaScript" src="/itildemo/static/js/bootstrap.min.js"></script>
    <script language="JavaScript" src="/itildemo/plugins/ckeditor/ckeditor.js"></script>
    <script language="JavaScript" src="/itildemo/plugins/fileupload/js/stream-v1.js"></script>
    <link rel="stylesheet" href="/itildemo/plugins/fileupload/css/stream-v1.css">
    <title></title>
</head>

<body background="/itildemo/static/img/bg.png">
<div class="_012_RequestList">
    <div class="_011_RequestList">
        请求创建
    </div>
    <br>

    <div class="_013_RequestList">
        <div class="_013_RequestList form-group-sm">
            <form class="form-horizontal" action="/itildemo/home/service/req_ser.php?flag=admin" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题:</label>

                    <div class="col-sm-3">
                        <input type="text" name="req_title" class="form-control" placeholder="请求标题">
                    </div>
                    <label class="col-sm-2 control-label">请求分类:</label>

                    <div class="col-sm-3">
                        <input tabindex="0" name="req_sort" id="sortPopover" class="form-control" type="text" readonly
                               data-toggle="popover"
                               data-container="body"
                               data-placement="bottom"
                               data-html="true"
                               title="分类请求"
                               data-content="
                               <div class='_015_RequestList'>
                                    <div class='_014_RequestList btn-group' data-toggle='buttons'>
                                        <table width='100%'>
                                            <{foreach $parent_sort as $p_sort}>
                                            <tr class='_031_config_sort'>
                                                <td class='_029_config_sort'><{$p_sort.sort_name}>：</td>
                                                <td class='_030_config_sort'>
                                                    <{foreach $child_sort as $c_sort}>
                                                    <{if $c_sort.sort_parent_id == $p_sort.sort_id}>
                                                        <label class='btn btn-sm btn-default'>
                                                          <input type='checkbox' autocomplete='off' name='chooseSort' value='<{$c_sort.sort_name}>'>
                                                            <{$c_sort.sort_name}></label>
                                                    &nbsp;&nbsp;
                                                    <{/if}>
                                                    <{/foreach}>
                                                </td>
                                            </tr>
                                            <{/foreach}>
                                        </table>
                                    </div>
                                    <br><br><button class='btn btn-sm btn-primary' onclick='selectSort()'>确定</button>
                                </div>
                               ">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">关键字:</label>

                    <div class="col-sm-3">
                        <input type="text" name="req_keyword" placeholder="keyword" class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">请求来源:</label>

                    <div class="col-sm-3">
                        <select class="form-control" name="req_source">
                            <option value="1">网页请求</option>
                            <option value="2">邮件请求</option>
                            <option value="3">电话请求</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">请求人:</label>

                    <div class="col-sm-3">
                        <input tabindex="0" value="<{$smarty.session.user_name}>" name="req_author" id="userPopover" class="form-control" type="text" readonly
                               value="<{$smarty.session.user_name}>"
                               data-toggle="popover"
                               data-container="body"
                               data-placement="bottom"
                               data-html="true"
                               title="人员列表"
                               data-content="
                                                <div style='max-height: 300px; overflow-y: scroll'>
                                                    <table class='table table-hover'>
                                                        <tr>
                                                            <th>帐号</th>
                                                            <th>姓名</th>
                                                            <th>所在机构</th>
                                                        </tr>
                                                        <tbody>
                                                        <{foreach from=$userlist item=user}>
                                                        <tr>
                                                            <td><a href='javascript:void(0)' onclick=&quot;chooseUser('<{$user.user_name}>')&quot;><{$user.user_name}></a></td>
                                                            <td><{$user.name}></td>
                                                            <td><{$user.depart_name}></td>
                                                        </tr>
                                                        <{/foreach}>
                                                        </tbody>
                                                        </table>
                                                </div>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">附件:</label>

                    <div class="col-sm-4">
                        <p id="i_select_files"></p>
                        <input type="hidden" value="<{$attach_id}>" name="attach_id">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1"></label>

                    <div class="col-sm-6">
                        <div id="i_stream_files_queue">
                        </div>
                        <br>
                        <a href="javascript:void(0)" class="btn btn-sm btn-primary" onclick="javascript:_t.upload();">开始上传</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-danger"
                           onclick="javascript:_t.stop();">停止上传</a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-default" onclick="javascript:_t.cancel();">
                            &nbsp;取&nbsp;消&nbsp;</a>
                    </div>
                </div>

                <div class="_015_RequestList">
                    <textarea name="req_content" id="content"></textarea>
                    <script>
                        CKEDITOR.replace("req_content", {
                            filebrowserBrowseUrl: '/itildemo/plugins/ckfinder/ckfinder.html',
                            filebrowserImageBrowseUrl: '/itildemo/plugins/ckfinder/ckfinder.html?Type=Images',
                            filebrowserFlashBrowseUrl: '/itildemo/plugins/ckfinder/ckfinder.html?Type=Flash',
                            filebrowserUploadUrl: '/itildemo/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
                            filebrowserImageUploadUrl: '/itildemo/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Images',
                            filebrowserFlashUploadUrl: '/itildemo/plugins/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Flash'
                        });
                    </script>
                </div>
                <br>

                <button name="add_req" class="btn btn-primary btn-sm _017_AddRequest">提交请求</button>
                <br><br><br>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        $('#sortPopover').popover();
        $('#userPopover').popover()
    });

    function selectSort() {
        $('#sortPopover').popover('hide');
        var chooseSort = document.getElementsByName('chooseSort');
        var sort = "";
        for (var i = 0; i < chooseSort.length; i++) {
            if (chooseSort[i].checked) {
                sort += chooseSort[i].value + "  ";
            }
        }
        document.getElementById('sortPopover').value = sort;
    }
    function chooseUser(user_name) {
        $('#userPopover').popover('hide');
        document.getElementById('userPopover').value = user_name;
    }

</script>

<script type="text/javascript">
    /**
     * 配置文件（如果没有默认字样，说明默认值就是注释下的值）
     * 但是，on*（onSelect， onMaxSizeExceed...）等函数的默认行为
     * 是在ID为i_stream_message_container的页面元素中写日志
     */
    var config = {
        browseFileId: "i_select_files",
        /** 选择文件的ID, 默认: i_select_files */
        browseFileBtn: "<div></div>",
        /** 显示选择文件的样式, 默认: `<div>请选择文件</div>` */
        dragAndDropArea: "i_select_files",
        /** 拖拽上传区域，Id（字符类型"i_select_files"）或者DOM对象, 默认: `i_select_files` */
        dragAndDropTips: "<span class='btn btn-sm btn-default'>添加文件</span>",
        /** 拖拽提示, 默认: `<span>把文件(文件夹)拖拽到这里</span>` */
        filesQueueId: "i_stream_files_queue",
        /** 文件上传容器的ID, 默认: i_stream_files_queue */
        filesQueueHeight: 200,
        /** 文件上传容器的高度（px）, 默认: 450 */
        messagerId: "i_stream_message_container",
        /** 消息显示容器的ID, 默认: i_stream_message_container */
        multipleFiles: true,
        /** 多个文件一起上传, 默认: false */
        autoUploading: false,
        /** 选择文件后是否自动上传, 默认: true */
//		autoRemoveCompleted : true, /** 是否自动删除容器中已上传完毕的文件, 默认: false */
//		maxSize: 104857600//, /** 单个文件的最大大小，默认:2G */
//		retryCount : 5, /** HTML5上传失败的重试次数 */
//		postVarsPerFile : { /** 上传文件时传入的参数，默认: {} */
//			param1: "val1",
//			param2: "val2"
//		},
        swfURL: "/itildemo/plugins/fileupload/swf/FlashUploader.swf?attach_id=<{$attach_id}>",
        /** SWF文件的位置 */
        tokenURL: "/itildemo/plugins/fileupload/php/upload.php?action=tk&attach_id=<{$attach_id}>",
        /** 根据文件名、大小等信息获取Token的URI（用于生成断点续传、跨域的令牌） */
        frmUploadURL: "/itildemo/plugins/fileupload/php/upload.php?action=fd&attach_id=<{$attach_id}>;",
        /** Flash上传的URI */
        uploadURL: "/itildemo/plugins/fileupload/php/upload.php?action=up&attach_id=<{$attach_id}>",
        /** HTML5上传的URI */
//		simLimit: 200, /** 单次最大上传文件个数 */
        extFilters: [".txt", ".rpm", ".rmvb", ".gz", ".rar", ".zip", ".avi", ".mkv", ".mp3", ".wmv",".php"] /** 允许的文件扩展名, 默认: [] */
//		onSelect: function(list) {alert('onSelect')}, /** 选择文件后的响应事件 */
//		onMaxSizeExceed: function(size, limited, name) {alert('onMaxSizeExceed')}, /** 文件大小超出的响应事件 */
//		onFileCountExceed: function(selected, limit) {alert('onFileCountExceed')}, /** 文件数量超出的响应事件 */
//		onExtNameMismatch: function(name, filters) {alert('onExtNameMismatch')}, /** 文件的扩展名不匹配的响应事件 */
//		onCancel : function(file) {alert('Canceled:  ' + file.name)}, /** 取消上传文件的响应事件 */
//		onComplete: function(file) {alert('onComplete')}, /** 单个文件上传完毕的响应事件 */
//		onQueueComplete: function() {alert('onQueueComplete')}, /** 所以文件上传完毕的响应事件 */
//		onUploadError: function(status, msg) {alert('onUploadError')} /** 文件上传出错的响应事件 */
    };
    var _t = new Stream(config);
</script>