<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script language="JavaScript" src="/itildemo/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/itildemo/static/css/mystyle.css">
    <script language="JavaScript" src="/itildemo/static/js/bootstrap.min.js"></script>
    <script language="javascript" src="/itildemo/static/js/ajax.js"></script>
    <title></title>
</head>
<body>
<br>

<div class="_012_RequestList">
    <div class="_034_request_home">
        <ul id="myTab" class="nav nav-tabs title_font">
            <li class="active"><a href="#home" data-toggle="tab">待审核请求(<{$undo_req|count}>)</a></li>
            <li><a href="#ios" data-toggle="tab">变更请求(<{$change_req|count}>)</a></li>
            <li><a href="#java" data-toggle="tab">逾期请求(<{$over_time_req|count}>)</a></li>
            <li><a href="#req" data-toggle="tab">请求追踪(<{$doing_req|count}>)</a> </li>
        </ul>
    </div>
    <br>

    <div id="myTabContent" class="tab-content _007_MyBoard">
        <!--请求列表-->
        <div class="tab-pane in active" id="home">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>请求编号</th>
                    <th>请求标题</th>
                    <th>请求分类</th>
                    <th>请求人</th>
                    <th>请求时间</th>
                    <th>请求状态</th>
                </tr>
                <tbody>
                <{foreach from=$undo_req item=req name=req}>
                <tr>
                    <td><{$smarty.foreach.req.index+1}></td>
                    <td>
                        <a href="request_assign.php?req_num=<{$req.req_num}>"><{$req.req_num}></a>
                    </td>
                    <td><{$req.req_title}></td>
                    <td><{$req.req_sort}></td>
                    <td><{$req.req_author}></td>
                    <td><{$req.req_time}></td>
                    <td>
                        <span class="_span_new">&nbsp;未处理&nbsp;</span>
                    </td>
                </tr>
                <{/foreach}>
                </tbody>
                </thead>
            </table>
            <{if $undo_req|count!=0}>
            <a href="/itildemo/home/service/excel_export_ser.php?list=<{$undo_req_num}>&title=待审核请求列表" class="_52_Excel_export">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;导出</a>
            <{/if}>
        </div>
        <!--变更列表-->
        <div class="tab-pane" id="ios">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>请求编号</th>
                    <th>请求标题</th>
                    <th>请求人</th>
                    <th>请求时间</th>
                    <th>当前工程师</th>
                    <th>变更时间</th>
                </tr>
                <tbody>
            <{foreach from=$change_req item=req name=res}>
                <tr>
                    <td><{$smarty.foreach.res.index+1}></td>
                    <td><a href="/itildemo/home/controller/admin/request_assign.php?flag=re_assign&req_num=<{$req.req_num}>"><{$req.req_num}></a></td>
                    <td><{$req.req_title}></td>
                    <td><{$req.req_author}></td>
                    <td><{$req.req_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{$req.req_engineer}></td>
                    <td><{$req.change_time|date_format:'%y/%m/%d %H:%M'}></td>
                </tr>
            <{/foreach}>
                </tbody>
                </thead>
            </table>
            <{if $change_req|count!=0}>
            <a href="/itildemo/home/service/excel_export_ser.php?list=<{$change_req_num}>&title=变更请求列表" class="_52_Excel_export">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;导出</a>
            <{/if}>
        </div>
        <!--逾期列表-->
        <div class="tab-pane" id="java">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>请求编号</th>
                    <th>请求标题</th>
                    <th>请求人</th>
                    <th>请求时间</th>
                    <th>指派时间</th>
                    <th>当前工程师</th>
                    <th style="color: red">超时</th>
                </tr>
                <tbody>
            <{foreach from=$over_time_req item=over name=req}>
                <tr>
                    <td><{$smarty.foreach.req.index+1}></td>
                    <td><a href="/itildemo/home/controller/admin/request_assign.php?flag=over_assign&req_num=<{$over.req_num}>"><{$over.req_num}></a></td>
                    <td><{$over.req_title}></td>
                    <td><{$over.req_author}></td>
                    <td><{$over.req_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{$over.assign_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{$over.req_engineer}></td>
                    <td><span style="color:red;"><{($over.time_left/3600)|string_format:"%d"}>小时<{($over.time_left%3600/60)|string_format:"%d"}>分</span></td>
                </tr>
            <{/foreach}>
                </tbody>
                </thead>
            </table>
            <{if $over_time_req|count!=0}>
            <a href="/itildemo/home/service/excel_export_ser.php?list=<{$over_time_req_num}>&title=逾期请求列表" class="_52_Excel_export">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;导出</a>
            <{/if}>
        </div>
        <!--请求追踪-->
        <div class="tab-pane" id="req">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>请求编号</th>
                    <th>请求标题</th>
                    <th>请求人</th>
                    <th>请求时间</th>
                    <th>指派时间</th>
                    <th>优先级</th>
                    <th>影响范围</th>
                    <th><span style="color: #009900">余时</span>/<span style="color: red">超时</span></th>
                </tr>
                <tbody>
                <{foreach from=$doing_req item=req name=res}>
                <tr>
                    <td><{$smarty.foreach.res.index+1}></td>
                    <td><a href="/itildemo/home/controller/admin/request_assign.php?req_num=<{$req.req_num}>&flag=doing_req"><{$req.req_num}></a></td>
                    <td style="max-width: 200px;"><{$req.req_title}></td>
                    <td style="max-width: 80px;"><{$req.req_author}></td>
                    <td><{$req.req_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{$req.assign_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td>
                        <{if $req.req_priority==1}>
                        <div class="_span_low">&nbsp;低&nbsp;</div>
                        <{else if $req.req_priority==2}>
                        <div class="_span_middle">&nbsp;中&nbsp;</div>
                        <{else}>
                        <div class="_span_high">&nbsp;高&nbsp;</div>
                        <{/if}>
                    </td>
                    <td>
                        <{if $req.req_effect==1}>
                        <div class="_span_low">&nbsp;个人&nbsp;</div>
                        <{else if $req.req_effect==2}>
                        <div class="_span_middle">&nbsp;部门&nbsp;</div>
                        <{else}>
                        <div class="_span_high">&nbsp;单位&nbsp;</div>
                        <{/if}>
                    </td>
                    <td><{if $req.flag}>
                        <span style="color: red"><{$req.hour}>小时<{$req.minute}>分</span>
                        <{else}>
                        <span style="color: #009900"><{$req.hour}>小时<{$req.minute}>分</span>
                        <{/if}>
                    </td>
                </tr>
                <{/foreach}>
                </tbody>
                </thead>
            </table>
            <{if $doing_req|count!=0}>
            <a href="/itildemo/home/service/excel_export_ser.php?list=<{$doing_req_num}>" class="_52_Excel_export">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;导出</a>
            <{/if}>
        </div>

        <br><br>
    </div>
</div>

</body>
</html>