<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script language="JavaScript" src="/itildemo/static/js/jquery-1.11.1.min.js"></script>
    <script language="javascript" src="/itildemo/plugins/feedback/lib/jquery.raty.min.js"></script>
    <link rel="stylesheet" href="/itildemo/plugins/feedback/demo/css/application.css">
    <title></title>
</head>
<body>
<div class="demo">
    <div id="targetType-demo" class="target-demo"></div>
    <div id="targetType-hint" class="hint"></div>
</div>

</body>
</html>
<script>
    $.fn.raty.defaults.path = '/itildemo/plugins/feedback/demo/img';
    $('#targetType-demo').raty({
        size: 24,
        starHalf: 'star-half-big.png',
        starOff: 'star-off-big.png',
        starOn: 'star-on-big.png',
        target: '#targetType-hint',
        targetType: 'score'
    });
</script>