<!DOCTYPE   HTML   PUBLIC   "-//W3C//DTD   HTML   4.01   Transitional//EN">
<html>
<head>
    <meta   http-equiv="Content-Type"   content="text/html;   charset=gb2312">
    <title>无标题文档</title>
</head>
<script   language="JavaScript"   type="text/JavaScript">
    function   view1(){
        t   =   view.window

        t.document.open()
        t.document.write("")
        t.document.close()
        t.document.open();
        t.document.write(document.documentElement.innerHTML);
        t.document.close();
    }

    function     code1(){
        code.style.display="";
        code.value=document.documentElement.innerHTML;
        code.focus()
    }
</script>

<body>
<p>
    <input   type="button"   name="Submit"   value="代码"   onClick="code1()">
    <input   type="button"   name="Submit2"   value="视图"   onClick="view1()">
</p>
<IFRAME   NAME="view"     WIDTH=100%></IFRAME>
<TEXTAREA         name="code"   cols="200"   rows="100"></TEXTAREA>

</body>
</html>