<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script language="javascript" src="/itildemo/static/js/ajax.js"></script>
</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>编号</th>
        <th>登陆账号</th>
        <th>姓名</th>
        <th>职工号</th>
        <th>所属机构</th>
        <th>职务</th>
        <th>联系方式</th>
        <th>操作</th>
    </tr>
    <tbody>
    <{foreach from=$res item=user name=user}>
    <tr>
        <td><{$smarty.foreach.user.index+1}></td>
        <td><{$user.user_name}></td>
        <td><{$user.name}></td>
        <td><{$user.staff_id}></td>
        <td><{$user.depart_name}></td>
        <td><{$user.position}></td>
        <td><{$user.telephone}></td>

        <td><a href="javascript:void(0);" onclick="AJAX('/itildemo/home/controller/admin/user_list.php?flag=1&depart_id=<{$depart_id}>&user_id=<{$user.user_id}>')">删除</a></td>
    </tr>
    <{/foreach}>
    </tbody>
    </thead>
</table>
<br>
</body>
</html>
