<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script language="JavaScript" src="/itildemo/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/itildemo/static/css/mystyle.css">
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap-datetimepicker.min.css">
    <script language="JavaScript" src="/itildemo/static/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<br>

<div class="_012_RequestList">
    <div class="_011_RequestList">
        任务清单
    </div>
    <br>

    <div class="_034_request_home">
        <ul id="myTab" class="nav nav-tabs title_font">
            <li
            <{if $flag==1}>class="active"<{/if}> ><a href="#do" data-toggle="tab">我的待办(<{$res|count}>)</a></li>
            <li
            <{if $flag==2}>class="active"<{/if}> ><a href="#done" data-toggle="tab">我的已办(<{$totalCount2}>)</a></li>
            <li
            <{if $flag==3}>class="active"<{/if}> ><a href="#change" data-toggle="tab">我的变更(<{$totalCount3}>)</a></li>
        </ul>
    </div>
    <br>

    <div id="myTabContent" class="tab-content _007_MyBoard">
        <div class="tab-pane <{if $flag==1}>active<{/if}>" id="do">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>请求编号</th>
                    <th>请求标题</th>
                    <th>请求人</th>
                    <th>请求时间</th>
                    <th>指派时间</th>
                    <th>优先级</th>
                    <th>影响范围</th>
                    <th><span style="color: #009900">余时</span>/<span style="color: red">超时</span></th>
                </tr>
                <tbody>
                <{foreach from=$res item=req name=res}>
                <tr>
                    <td><{$smarty.foreach.res.index+1}></td>
                    <td><a href="task_detail.php?req_num=<{$req.req_num}>&flag=1"><{$req.req_num}></a></td>
                    <td style="max-width: 200px;"><{$req.req_title}></td>
                    <td style="max-width: 80px;"><{$req.req_author}></td>
                    <td><{$req.req_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{$req.assign_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td>
                        <{if $req.req_priority==1}>
                        <div class="_span_low">&nbsp;低&nbsp;</div>
                        <{else if $req.req_priority==2}>
                        <div class="_span_middle">&nbsp;中&nbsp;</div>
                        <{else}>
                        <div class="_span_high">&nbsp;高&nbsp;</div>
                        <{/if}>
                    </td>
                    <td>
                        <{if $req.req_effect==1}>
                        <div class="_span_low">&nbsp;个人&nbsp;</div>
                        <{else if $req.req_effect==2}>
                        <div class="_span_middle">&nbsp;部门&nbsp;</div>
                        <{else}>
                        <div class="_span_high">&nbsp;单位&nbsp;</div>
                        <{/if}>
                    </td>
                    <td><{if $req.flag}>
                        <span style="color: red"><{$req.hour}>小时<{$req.minute}>分</span>
                        <{else}>
                        <span style="color: #009900"><{$req.hour}>小时<{$req.minute}>分</span>
                        <{/if}>
                    </td>
                </tr>
                <{/foreach}>
                </tbody>
                </thead>
            </table>
        </div>
        <div class="tab-pane <{if $flag==2}>active<{/if}>" id="done">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>请求编号</th>
                    <th>请求标题</th>
                    <th>请求人</th>
                    <th>请求时间</th>
                    <th>解决时间</th>
                    <th>评价状态</th>
                </tr>
                <tbody>
                <{foreach from=$done item=req name=res}>
                <tr>
                    <td><{$smarty.foreach.res.index+1}></td>
                    <td><a href="task_detail.php?req_num=<{$req.req_num}>&flag=2"><{$req.req_num}></a></td>
                    <td style="max-width: 200px;"><{$req.req_title}></td>
                    <td style="max-width: 80px;"><{$req.req_author}></td>
                    <td><{$req.req_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{$req.req_finish_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{if $req.fd==1}>
                        <span class="_state_evaluate" style="float: none">已评价</span>
                        <{/if}>
                        <{if $req.req_state==4 and $req.fd==0}>
                        <span class="_state_un_evaluate" style="float: none">未评价</span>
                        <{/if}>
                    </td>
                </tr>
                <{/foreach}>
                </tbody>
                </thead>
            </table>
            <br>
            <{$nav2}>
        </div>
        <div class="tab-pane <{if $flag==3}>active<{/if}>" id="change">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>请求编号</th>
                    <th>请求标题</th>
                    <th>请求人</th>
                    <th>请求时间</th>
                    <th>变更时间</th>
                    <th>受理状态</th>
                </tr>
                <tbody>
                <{foreach from=$changelist item=req name=res}>
                <tr>
                    <td><{$smarty.foreach.res.index+1}></td>
                    <td><a href="task_detail.php?req_num=<{$req.req_num}>&flag=3"><{$req.req_num}></a></td>
                    <td style="max-width: 200px;"><{$req.req_title}></td>
                    <td style="max-width: 80px;"><{$req.req_author}></td>
                    <td><{$req.req_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{$req.change_time|date_format:'%y/%m/%d %H:%M'}></td>
                    <td><{if $req.flag==1}>
                        <div class="_span_new">未受理</div>
                        <{else if $req.flag==2}>
                        <div class="_span_low">已指派</div>
                        <{else}>
                        <div class="_span_cancel">已取消</div>
                        <{/if}>

                    </td>
                </tr>
                <{/foreach}>
                </tbody>
                </thead>
            </table>
            <br>
            <{$nav3}>
        </div>
    </div>

</div>

</body>
</html>