<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script language="JavaScript" src="/itildemo/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/itildemo/static/css/mystyle.css">
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap-datetimepicker.min.css">
    <script language="JavaScript" src="/itildemo/static/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<br>

<div class="_012_RequestList">
    <div class="_23_config_staff">
        <form method="get" action="/itildemo/home/controller/share/news_list.php">
            <div class="input-group input-group-sm _24_config_staff ">
                <input type="text" name="searchcontent" class="form-control" placeholder="通知标题、内容">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">搜索</button>
                </span>
            </div>
        </form>
    </div>
    <div class="_011_RequestList">
        通知列表
    </div>
    <div class="_014_RequestList">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th style="width: 500px;">通知标题</th>
                <th>发布时间</th>
                <th>发布人</th>
                <th>浏览次数</th>
            </tr>
            <tbody>
            <{if $res|count==0}>
            <tr>
                <td colspan="5">
                    <div class="_46_knowledge"><a>没有找到相关通知</a></div>
                </td>
            </tr>
            <{else}>
            <{foreach from=$res item=news name=res}>
            <tr>
                <td><{$smarty.foreach.res.index+1}></td>
                <td><a href="/itildemo/home/controller/share/news_detail.php?news_id=<{$news.news_id}>"><{$news.news_title}></a>
                </td>
                <td><{$news.news_time|date_format:'%y/%m/%d %H:%M'}></td>
                <td><{$news.news_author}></td>
                <td><{$news.news_read}></td>
            </tr>
            <{/foreach}>
            <{/if}>
            </tbody>
            </thead>
        </table>
    </div>
    <div class="_015_RequestList"><{$nav}></div>

</div>
</body>
</html>