<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script language="JavaScript" src="/itildemo/static/js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/itildemo/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/itildemo/static/css/mystyle.css">
    <script language="JavaScript" src="/itildemo/static/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body background="/itildemo/static/img/bg.png">
<div class="panel panel-primary _001_MyBoard">
    <div class="panel-heading">
        <h3 class="panel-title">面板标题</h3>
    </div>
    <div class="panel-body">
        <div class="_002_MyBoard">
            <div class="_004_MyBoard"><img src="/itildemo/static/img/Marker.png" class="_004_MyBoard">消息提醒</div>
            <div class="_005_MyBoard">
                <table class="_007_MyBoard">
                    <tr>
                        <td class="_006_MyBoard">dfgfdfgdfg</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="_002_MyBoard">
            <div class="_004_MyBoard"><img src="/itildemo/static/img/Marker.png" class="_004_MyBoard">热门知识</div>
            <table class="_007_MyBoard">
                <tr>
                    <td class="_006_MyBoard">dfgfdfgdfg</td>
                </tr>
            </table>
        </div>
        <div class="_003_MyBoard">
            <div class="_008_MyBoard">最新通知</div>
            <div class="_009_MyBoard">
                <img src="/itildemo/static/img/notice.png">
            </div>
            <div class="_010_MyBoard">
                <table class="_007_MyBoard">
                    <tr>
                        <td class="_006_MyBoard">sss</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>